/Projetos/ProjetoFinal-Desktop/nbproject/private/
/Projetos/ProjetoFinal-Web/nbproject/private/
/Projetos/ProjetoFinal-Bean/nbproject/private/
/Projetos/ProjetoFinal-Interno/nbproject/private/
/Projetos/ProjetoFinal-User/nbproject/private/
/Projetos/ExemploEnum/nbproject/private/
/Projetos/ProjetoFinal-Conexao/dist/
/Projetos/ProjetoFinal-Conexao/build/
/Projetos/ProjetoFinal-Interno/build/
/Projetos/ProjetoFinal-Conexao/nbproject/private/
/Projetos/ProjetoFinalConexao/nbproject/private/
/Projetos/ProjetoFinalConexao/dist/
/Projetos/ProjetoFinalConexao/build/
/Projetos/ProjetoFinal-User/build/

/Projetos/ProjetoFinal-Principal/nbproject/private/
/Projetos/ProjetoFinal-Principal/build/
*.properties

*.css

*.xml

