/Projetos/ProjetoFinal-Desktop/nbproject/private/
/Projetos/ProjetoFinal-Web/nbproject/private/
/Projetos/ProjetoFinal-Bean/nbproject/private/
/Projetos/ProjetoFinal-Interno/nbproject/private/
/Projetos/ProjetoFinal-User/nbproject/private/
/Projetos/ExemploEnum/nbproject/private/
/Projetos/ProjetoFinal-Conexao/dist/
/Projetos/ProjetoFinal-Conexao/build/
/Projetos/ProjetoFinal-Interno/build/
/Projetos/ProjetoFinal-Conexao/nbproject/private/
/Projetos/ProjetoFinalConexao/nbproject/private/
/Projetos/ProjetoFinalConexao/dist/
/Projetos/ProjetoFinalConexao/build/
/Projetos/ProjetoFinal-User/build/

/Projetos/ProjetoFinal-Principal/nbproject/private/
/Projetos/ProjetoFinal-Principal/build/
*.properties
*.css

*.xml

*.properties
!/Projetos/ProjetoFinal-Interno/web/tema/assets/css/layout-2.css
Projetos/ProjetoFinal-Conexao/src/br/com/projetofinal/database/Estrutura.sql
/Projetos/ProjetoFinal-Interno/dist/
!/Projetos/ProjetoFinal-User/web/css/layouts.css
!/Projetos/ProjetoFinal-User/web/css/pnotify.custom.min.css
!/Projetos/ProjetoFinal-User/web/css/layout-2.css
!/Projetos/ProjetoFinal-Interno/web/css/layout-2.css
!/Projetos/ProjetoFinal-Interno/web/css/layouts.css
!/Projetos/ProjetoFinal-Interno/web/css/perfil.css
!/Projetos/ProjetoFinal-Interno/web/css/perfil.min.css
!/Projetos/ProjetoFinal-Interno/web/css/pnotify.custom.min.css
*.xml
/Projetos/ProjetoFinal-User/dist/
!/Projetos/ProjetoFinal-Interno/web/css/ticket.css
!/Projetos/ProjetoFinal-Interno/web/css/ticket.min.css
!/Projetos/ProjetoFinal-Interno/web/css/login.css
!/Projetos/ProjetoFinal-Interno/web/css/redefiner-password.css
!/Projetos/ProjetoFinal-Interno/web/css/redefiner-password.min.css
!/Projetos/ProjetoFinal-Interno/web/css/change-password.min.css
!/Projetos/ProjetoFinal-Interno/web/css/change-password.css
!/Projetos/ProjetoFinal-User/web/css/redefiner-password.css
!/Projetos/ProjetoFinal-User/web/css/redefiner-password.min.css
!/Projetos/ProjetoFinal-User/web/css/change-password.css
!/Projetos/ProjetoFinal-User/web/css/change-password.min.css
!/Projetos/ProjetoFinal-User/web/css/forgot-password.css
!/Projetos/ProjetoFinal-User/web/css/forgot-password.min.css