span.icon {
    background: url('/tema/assets/images/google-icone.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
}

#botao-login {
    display: inline-block;
}
#botao-login:hover {
    cursor: pointer;
}

#div-fundo-login {
    width: 1920px;
    height: 754px;
}