span.icon {
    background: url('/tema/assets/images/google-icone.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
}

#botao-login {
    display: inline-block;
}
#botao-login:hover {
    cursor: pointer;
}

#div-fundo-login {
    width: 1920px;
    height: 754px;
}

.ng-scope {
    height: 100%;
    color: red;
}

hr {
    border: 0;
    width: 85%;
    color: #f00;
    background-color: #eb6709;
    height: 3px;
}